.favicon{
    height: 40px;
    width: 40px !important;
    color: #777;
}

.modal_footer {
    border: 0 none;
    width: 300px;

}

.vote{
    color: #777;
    text-align: center;
    align-self: center;
}